extends includes/layout

block links
    link(rel="stylesheet", href="./css/style.css")

block content
    .mainContainer#mainContainer
        p 航空港撒打开股份

block scripts
    script(src="./js/index.js",type="text/javascript")
